<link rel="stylesheet" href="{{ '/assets/css/chord-diagram.css' | relative_url }}">
<!--<div id="chord-panel">
  <div class="panel-header">
    <span id="chord-title-display">Chord</span>
    <button onclick="hideChordPanel()" class="close-chord-btn">&times;</button>
  </div>
  <div id="chord-svg-render" style="display:flex; justify-content:center; align-items:center; min-height:150px;">
    </div>
  <a href="/tutorial/" class="cta-learn">Belajar Kunci Dasar</a>
</div>-->
<div id="chord-panel" class="chord-panel-hidden">
      <div class="panel-header">
         <span id="chord-title-display"></span>
         <button onclick="hideChordPanel()" class="close-chord-btn">&times;</button>
      </div>
  
      <div id="chord-svg-render"></div>
         <div class="panel-footer">
            <a href="/tutorial-kunci-dasar/" class="cta-learn">Belajar Kunci Dasar</a>
         </div>
      </div>
      
      <span class="chord-node">G#m</span>
      
      <!--<div class="container">
         <h2 style="text-align:center; margin-top:50px;">Daftar Kunci Dasar Gitar</h2>
         <div id="all-chords-grid" class="chord-grid-container"></div>
      </div>-->
</div>
<script src="{{ '/assets/js/chord-generator.js' | relative_url }}"></script>
