
   <!-- header section -->
   <div class="space-content-header"></div>
   <header class="main-header">
      <div class="container">
         <a href="https://sudutnirwana.com/" class="logo-web">
            <span class="img-logo">
               <img src="{{ site.baseurl }}/assets/img/sudut-nirwana-logo.webp" alt="sudut nirwana kunci gitar lengkap">
            </span>
            <span class="name-logo">
               <h3>SUDUT NIRWANA</h3>
               <p><strong>Kunci Gitar & Tablature</strong></p>
            </span>
         </a>
         <div class="navigasi">
             <a href="{{ '/' | relative_url }}" class="home hover-underline active">
                <i class="fa-solid fa-house"></i> Beranda
              </a>

              <a href="{{ '/#chordwrapper' | relative_url }}" class="chord hover-underline">
                <i class="fa-solid fa-music"></i> Chord
              </a>

            <a href="{{ '/#katalog-section' | relative_url }}" class="katalog hover-underline">
                 <i class="fa-solid fa-book-open"></i> Katalog
            </a>

             <a href="{{ '/blog' | relative_url }}" class="blog hover-underline">
                <i class="fa-solid fa-newspaper"></i> Blog
              </a>
          </div>

         <div class="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
         </div>
         <div class="icon-sosialmedia">
            <a href="https://facebook.com/" class="sosialmedia"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/" class="sosialmedia"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.tiktok.com/" class="sosialmedia"><i class="fa-brands fa-tiktok"></i></a>
         </div>
      </div>
   </header>
   <div class="sidebar-menu">
      <hr>
      <div class="box-child-sidebar">
         <p>Stay Tuned...!</p>
         <div class="wrapper-sosmed"></div>
      </div>
   </div>
   <div class="sidebar-overlay"></div>
   <div class="space-content-header"></div>
   <!-- header section end -->

