<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Project Web | Nirwana</title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
   <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
   <!-- header section -->
   <div class="space-content-header"></div>
   <header class="main-header">
      <div class="container">
         <a href="#" class="logo-web">
            <span class="img-logo">
               <img src="img/sudut-nirwana-logo.webp" alt="">
            </span>
            <span class="name-logo">
               <h3>SUDUT NIRWANA</h3>
               <p><strong>Kunci Gitar & Tablature</strong></p>
            </span>
         </a>
         <div class="navigasi">
            <a href="#hero-section" class="home hover-underline active"><i class="fa-solid fa-house"></i>Beranda</a>
            <a href="#chord-section" class="chord hover-underline"><i class="fa-solid fa-solid fa-music"></i>Chord</a>
            <a href="#katalog" class="katalog hover-underline"><i class="fa-solid fa-book-open"></i>Katalog</a>
            <a href="#" class="blog hover-underline"><i class="fa-solid fa-newspaper"></i>Blog</a>
            <a href="#" class="content hover-underline"><i class="fa-solid fa-envelope"></i>Kontak</a>
         </div>
         <div class="hamburger-menu">
            <span></span>
            <span></span>
            <span></span>
         </div>
         <div class="icon-sosialmedia">
            <a href="https://m.facebook.com/yossi.421831/" class="sosialmedia"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/yossichaniago89?igsh=MXdsdW9sY2lid2VqaA==" class="sosialmedia"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.tiktok.com/@mumetyank?_r=1&_t=ZS-95FfJ3YcBCi" class="sosialmedia"><i class="fa-brands fa-tiktok"></i></a>
         </div>
      </div>
   </header>
   <div class="sidebar-menu">
      <hr>
      <div class="box-child-sidebar">
         <p>Stay Tuned...!</p>
         <div class="wrapper-sosmed"></div>
      </div>
   </div>
   <div class="sidebar-overlay"></div>
   <div class="space-content-header"></div>
   <!-- header section end -->
   
   
   
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
   <script src="main.js"></script>
</body>
</html>
