<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Project Web | Nirwana</title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
   <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
   <div id="preloader">
      <div class="loader"></div>
      <p>Loading Data...</p>
   </div>
   <!--class animasi (reveal up left right)-->
   <!--========================================-->
   
   <!-- hero section --> 
   <main>
      <section class="hero-section" id="hero-section">
         <div class="container">
            <div class="hero-description">
               <div class="headline reveal up">
                  <h1><strong>Kinci Gitar</strong> & Lirik Lagu Lengkap <span>Untuk Pemula</span></h1>
               </div>
               <div class="sub-headline reveal up">
                  <p>Temukan <strong>Chord Gitar</strong> lagu terbaru dan terpopuler dengan fitur auto-scroll dan transpose nada. Update setiap hari untuk semua genre musik.</p>
               </div>
               <div class="cta-hero reveal up">
                  <a href="" class="cta-kunci-dasar">Belajar Kunci Dasar</a>
                  <a href="" class="cta-chord-baru">Chord Terbaru <i class="fa-solid fa-arrow-right"></i></a>
               </div>
            </div>
            <div class="hero-jumbotron">
               <div class="photo photo-large reveal up">
                  <img src="hero-large.webp" alt="Koleksi lengkap lirik lagu dan chord gitar terbaru Sudut Nirwana">
               </div>
               <div class="photo photo-right">
                  <div class="photo-small top reveal up">
                     <img src="hero-small-top.webp" alt="Koleksi lengkap lirik lagu dan chord gitar terbaru Sudut Nirwana">
                  </div>
                  <div class="photo-small bottom reveal up">
                     <img src="hero-small-bottom.webp" alt="Koleksi lengkap lirik lagu dan chord gitar terbaru Sudut Nirwana">
                  </div>
               </div>
            </div>
         </div>
      </section>
      
   </main>
   
   <footer class="about-site">
      <div class="container">
         <p class="reveal up">&copy; 2026 **Sudut Nirwana**. All Rights Reserved.</p>
      </div>
   </footer>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
   <script src="main.js"></script>
</body>
</html>