
   
   <!--class animasi (reveal up left right)-->
   <!--========================================-->
   
   <!-- hero section -->
      <section class="hero-section" id="hero-section">
         <div class="container">
            <div class="hero-description">
               <div class="headline reveal up">
                  <h1><strong>Kinci Gitar</strong> & Lirik Lagu Lengkap <span>Untuk Pemula</span></h1>
               </div>
               <div class="sub-headline reveal up">
                  <p>Temukan <strong>Chord Gitar</strong> lagu terbaru dan terpopuler dengan fitur auto-scroll dan transpose nada. Update setiap hari untuk semua genre musik.</p>
               </div>
               <div class="cta-hero reveal up">
                  <a href="" class="cta-kunci-dasar">Belajar Kunci Dasar</a>
                  <a href="" class="cta-chord-baru">Chord Terbaru <i class="fa-solid fa-arrow-right"></i></a>
               </div>
            </div>
            <div class="hero-jumbotron">
               <div class="photo photo-large reveal up">
                  <img src="{{ site.baseurl }}/assets/img/hero-large.webp" alt="koleksi lengkap lirik lagu dan chord gitar sudut nirwana">
                  
               </div>
               <div class="photo photo-right">
                  <div class="photo-small top reveal up">
                     <img src="{{ site.baseurl }}/assets/img/hero-small-top.webp" alt="koleksi lengkap lirik lagu dan chord gitar sudut nirwana">
                     
                  </div>
                  <div class="photo-small bottom reveal up">
                     <img src="{{ site.baseurl }}/assets/img/hero-small-bottom.webp" alt="koleksi lengkap lirik lagu dan chord gitar sudut nirwana">
                     
                  </div>
               </div>
            </div>
         </div>
      </section>
