<h2 class="reveal up" style="margin: 10px 0"><strong>Chord</strong> <span style="color:#ee6c00;">Artis inisial</span></h2>
<p class="reveal up">Temukan <strong>Kunci Gitar</strong> Lengkap berdasarkan inisial artis A-Z.</p>
<div class="alphabet-container">
  <div class="alphabet-list reveal up">
    <a href="/artis/a-b" title="Daftar Chord Artis A dan B">A - B</a>
    <a href="/artis/c-d" title="Daftar Chord Artis C dan D">C - D</a>
    <a href="/artis/e-f" title="Daftar Chord Artis E dan F">E - F</a>
    <a href="/artis/g-h" title="Daftar Chord Artis G dan H">G - H</a>
    <a href="/artis/i-j" title="Daftar Chord Artis I dan J">I - J</a>
    <a href="/artis/k-l" title="Daftar Chord Artis K dan L">K - L</a>
    <a href="/artis/m-n" title="Daftar Chord Artis M dan N">M - N</a>
    <a href="/artis/o-p" title="Daftar Chord Artis O dan P">O - P</a>
    <a href="/artis/q-r" title="Daftar Chord Artis Q dan R">Q - R</a>
    <a href="/artis/s-t" title="Daftar Chord Artis S dan T">S - T</a>
    <a href="/artis/u-v" title="Daftar Chord Artis U dan V">U - V</a>
    <a href="/artis/w-x" title="Daftar Chord Artis W dan X">W - X</a>
    <a href="/artis/y-z" title="Daftar Chord Artis Y dan Z">Y - Z</a>
    <a href="/artis/angka" title="Daftar Chord Artis Angka/Simbol">#</a>
  </div>
</div>
