<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Project Web | Nirwana</title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
   <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
   <div id="preloader">
      <div class="loader"></div>
      <p>Loading Data...</p>
   </div>
   <!--class animasi (reveal up left right)-->
   <!--========================================-->
   
   <!--section kategori -->
   <section class="kategori" id="katalog-section">
      <div class="container">
         <h2 class="reveal up">Kategori <strong>Kunci gitar</strong> Berdasarkan <span>Genre Musik</span></h2>
         <div class="wrapper-kategori">
            <div class="card-genre reveal up">
               <div class="img-genre">
                  <img src="kategori-pop.webp" alt="kunci gitar lagu pop">
               </div>
               <div class="title-lagu">
                  <h4>"POP"</h4>
                  <a href="#">Lihat Semua</a>
               </div>
            </div>
            <div class="card-genre reveal up">
               <div class="img-genre">
                  <img src="kategori-rock.webp" alt="kunci gitar lagu rock">
               </div>
               <div class="title-lagu">
                  <h4>"ROCK"</h4>
                  <a href="#">Lihat Semua</a>
               </div>
            </div>
            <div class="card-genre reveal up">
               <div class="img-genre">
                  <img src="kategori-jazz.webp" alt="kunci gitar lagu jazz">
               </div>
               <div class="title-lagu">
                  <h4>"JAZZ"</h4>
                  <a href="#">Lihat Semua</a>
               </div>
            </div>
            <div class="card-genre reveal up">
               <div class="img-genre">
                  <img src="kategori-reggae.webp" alt="kunci gitar lagu reggae">
               </div>
               <div class="title-lagu">
                  <h4>"REGGAE"</h4>
                  <a href="#">Lihat Semua</a>
               </div>
            </div>
            <div class="card-genre reveal up">
               <div class="img-genre">
                  <img src="kategori-dangdut.webp" alt="kunci gitar lagu dangdut">
               </div>
               <div class="title-lagu">
                  <h4>"DANGDUT"</h4>
                  <a href="#">Lihat Semua</a>
               </div>
            </div>
            <div class="card-genre reveal up">
               <div class="img-genre">
                  <img src="kategori-indie.webp" alt="kunci gitar lagu indie">
               </div>
               <div class="title-lagu">
                  <h4>"INDIE"</h4>
                  <a href="#">Lihat Semua</a>
               </div>
            </div>
            <div class="card-genre reveal up">
               <div class="img-genre">
                  <img src="kategori-kenangan.webp" alt="kunci gitar lagu kenangan">
               </div>
               <div class="title-lagu">
                  <h4>"KENANGAN"</h4>
                  <a href="#">Lihat Semua</a>
               </div>
            </div>
            <div class="card-genre reveal up">
               <div class="img-genre">
                  <img src="kategori-kroncong.webp" alt="kunci gitar kroncong">
               </div>
               <div class="title-lagu">
                  <h4>"KRONCONG"</h4>
                  <a href="#">Lihat Semua</a>
               </div>
            </div>
            <div class="card-genre reveal up">
               <div class="img-genre">
                  <img src="kategori-lagu-daerah.webp" alt="kunci gitar lagu daerah">
               </div>
               <div class="title-lagu">
                  <h4>"LAGU DAERAH"</h4>
                  <a href="#">Lihat Semua</a>
               </div>
            </div>
            <div class="card-genre reveal up">
               <div class="img-genre">
                  <img src="kategori-campur.webp" alt="kunci gitar campuran">
               </div>
               <div class="title-lagu">
                  <h4>"CAMPUR"</h4>
                  <a href="#">Lihat Semua</a>
               </div>
            </div>
            
         </div>
      </div>
   </section>
   <!--section kategori end-->
   
   
   <footer class="about-site">
      <div class="container">
         <p class="reveal up">&copy; 2026 **Sudut Nirwana**. All Rights Reserved.</p>
      </div>
   </footer>
   
   
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
   <script src="main.js"></script>
</body>
</html>