
   <!--class animasi (reveal up left right)-->
   <!--========================================-->
   
   <!--section kategori -->
   <section class="kategori" id="katalog-section">
      <div class="container">
         <h2 class="reveal up">Kategori <strong>Kunci gitar</strong> Berdasarkan <span>Genre Musik</span></h2>
         <div class="wrapper-kategori">
            <div class="card-genre reveal up">
               <div class="img-genre">
                  <img src="{{ site.baseurl }}/assets/img/kategori-pop.webp" alt="koleksi lengkap lirik lagu dan chord gitar sudut nirwana">
               </div>
               <div class="title-lagu">
                  <h4>"POP"</h4>
                  <a href="#">Lihat Semua</a>
               </div>
            </div>
            <div class="card-genre reveal up">
               <div class="img-genre">
                  <img src="{{ site.baseurl }}/assets/img/kategori-rock.webp" alt="koleksi lengkap lirik lagu dan chord gitar sudut nirwana">
               </div>
               <div class="title-lagu">
                  <h4>"ROCK"</h4>
                  <a href="#">Lihat Semua</a>
               </div>
            </div>
            <div class="card-genre reveal up">
               <div class="img-genre">
                  <img src="{{ site.baseurl }}/assets/img/kategori-jazz.webp" alt="koleksi lengkap lirik lagu dan chord gitar sudut nirwana">
               </div>
               <div class="title-lagu">
                  <h4>"JAZZ"</h4>
                  <a href="#">Lihat Semua</a>
               </div>
            </div>
            <div class="card-genre reveal up">
               <div class="img-genre">
                  <img src="{{ site.baseurl }}/assets/img/kategori-reggae.webp" alt="koleksi lengkap lirik lagu dan chord gitar sudut nirwana">
               </div>
               <div class="title-lagu">
                  <h4>"REGGAE"</h4>
                  <a href="#">Lihat Semua</a>
               </div>
            </div>
            <div class="card-genre reveal up">
               <div class="img-genre">
                  <img src="{{ site.baseurl }}/assets/img/kategori-dangdut.webp" alt="koleksi lengkap lirik lagu dan chord gitar sudut nirwana">
               </div>
               <div class="title-lagu">
                  <h4>"DANGDUT"</h4>
                  <a href="#">Lihat Semua</a>
               </div>
            </div>
            <div class="card-genre reveal up">
               <div class="img-genre">
                  <img src="{{ site.baseurl }}/assets/img/kategori-indie.webp" alt="koleksi lengkap lirik lagu dan chord gitar sudut nirwana">
               </div>
               <div class="title-lagu">
                  <h4>"INDIE"</h4>
                  <a href="#">Lihat Semua</a>
               </div>
            </div>
            <div class="card-genre reveal up">
               <div class="img-genre">
                  <img src="{{ site.baseurl }}/assets/img/kategori-kenangan.webp" alt="koleksi lengkap lirik lagu dan chord gitar sudut nirwana">
               </div>
               <div class="title-lagu">
                  <h4>"KENANGAN"</h4>
                  <a href="#">Lihat Semua</a>
               </div>
            </div>
            <div class="card-genre reveal up">
               <div class="img-genre">
                  <img src="{{ site.baseurl }}/assets/img/kategori-kroncong.webp" alt="koleksi lengkap lirik lagu dan chord gitar sudut nirwana">
               </div>
               <div class="title-lagu">
                  <h4>"KRONCONG"</h4>
                  <a href="#">Lihat Semua</a>
               </div>
            </div>
            <div class="card-genre reveal up">
               <div class="img-genre">
                  <img src="{{ site.baseurl }}/assets/img/kategori-lagu-daerah.webp" alt="koleksi lengkap lirik lagu dan chord gitar sudut nirwana">
               </div>
               <div class="title-lagu">
                  <h4>"LAGU DAERAH"</h4>
                  <a href="#">Lihat Semua</a>
               </div>
            </div>
            <div class="card-genre reveal up">
               <div class="img-genre">
                  <img src="{{ site.baseurl }}/assets/img/kategori-campuran.webp" alt="koleksi lengkap lirik lagu dan chord gitar sudut nirwana">
               </div>
               <div class="title-lagu">
                  <h4>"CAMPUR"</h4>
                  <a href="#">Lihat Semua</a>
               </div>
            </div>
            
         </div>
      </div>
   </section>
   <!--section kategori end-->
