<div class="w-full bg-white p-5 rounded-[2rem] border border-gray-100 my-8 shadow-sm">
    <h3 class="font-extrabold text-gray-800 mb-4 text-left text-[16px] uppercase tracking-wider text-[#ee6c00]">
        Cari Artis Berdasarkan Inisial
    </h3>
    
    <div class="grid grid-cols-7 gap-1.5">
        {% assign navs = "A-B,C-D,E-F,G-H,I-J,K-L,M-N,O-P,Q-R,S-T,U-V,W-X,Y-Z,#" | split: "," %}
        {% for nav in navs %}
        <a href="/artis/{{ nav | slugify }}/" 
           class="aspect-square flex items-center justify-center border border-gray-100 rounded-lg hover:bg-[#ee6c00] hover:text-white hover:border-[#ee6c00] transition-all duration-300 font-bold text-[10px] shadow-sm">
            {{ nav }}
        </a>
        {% endfor %}
    </div>
</div>
