<div class="w-full bg-white p-6 rounded-3xl shadow-sm border border-gray-100 my-8">
    <h3 class="font-extrabold text-gray-800 mb-6 text-center text-lg uppercase tracking-wider">Cari Artis Berdasarkan Inisial</h3>
    <div class="flex flex-wrap justify-center gap-3">
        {% assign navs = "A-B,C-D,E-F,G-H,I-J,K-L,M-N,O-P,Q-R,S-T,U-V,W-X,Y-Z,#" | split: "," %}
        {% for nav in navs %}
        <a href="/artis/{{ nav | slugify }}/" 
           class="w-12 h-10 flex items-center justify-center border-2 border-gray-100 rounded-xl hover:bg-[#ee6c00] hover:text-white hover:border-[#ee6c00] transition-all duration-300 font-bold text-sm shadow-sm">
            {{ nav }}
        </a>
        {% endfor %}
    </div>
</div>

