/*golbal style*/
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
}

body{
   width: 100%;
   background: .fff;
   font-family: "Nunito", sans-serif;
   font-size: clamp(1rem, 0.909rem + 0.45vw, 1.25rem);
   color: #444444;
}

.container{
   width: 100%;
   padding: 0 20px;
   overflow: hidden;
}
/*global style end*/


/* media query tablet */
@media(min-width: 768px){
    .container{
        width: 100%;
        padding: 0 30px;
    }
}


/* media query laptop */
@media(min-width: 1024px){
    .container{
        max-width: 1200px;
        margin: auto;
        padding: 40px;
    }
}
